<mat-card>
  <mat-card-title>Mettre à jour le champ</mat-card-title>
    <mat-card-content>
      <div class="header">
      </div>
      <form (ngSubmit)="submitChanges()" name="updateForm" [formGroup]="updateForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline" *ngIf="!isImage">
            <mat-label>Ancien {{data.fieldName}}</mat-label>
            <input
              formControlName="oldValue"
              matInput
              [type]=" isPassword ? 'password' : 'text'"
            [disabled]="true"/>
          </mat-form-field>
        </div>

        <div>
              <!--<span>
                <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
              </span>
              -->
              <mat-form-field class="full-width" appearance="outline" *ngIf="!isDate && !isImage && !isAddress">
                  <mat-label>Nouveau {{data.fieldName}}</mat-label>
                    <input formControlName="newValue" matInput [type]=" isPassword && hide ? 'password' : 'text'" required />
                      <button  mat-icon-button matSuffix (click)="showPassword($event)" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon *ngIf="isPassword">
                          {{hide ? 'visibility_off' : 'visibility'}}
                      </mat-icon>
                      </button>
                  <mat-error *ngIf="isPassword && !updateForm.controls['newValue'].valid">
                      Mettre un mot de passe valide
                  </mat-error>
                  <mat-error *ngIf="isMail && !updateForm.controls['newValue'].valid">
                    Mettre un mail valide
                </mat-error>
                <mat-error *ngIf="isfirstName && !updateForm.controls['newValue'].valid">
                  Mettre votre Prénom
              </mat-error>
              <mat-error *ngIf="islastName && !updateForm.controls['newValue'].valid">
                Mettre votre Nom
            </mat-error>
            <mat-error *ngIf="isLogin && !updateForm.controls['newValue'].valid">
              Mettre un login
          </mat-error>
              </mat-form-field>

              <mat-form-field class="mat-form-field" appearance="fill" *ngIf="isDate">
                <mat-label>Choisissez une date</mat-label>
                <input matInput [max]="today" [matDatepicker]="picker" formControlName="date"
                [ngClass]="{'is-invalid': updateForm.get('date')?.touched && !updateForm.get('date')?.valid}">
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div class="invalid-feedback">
                  <span *ngIf="isDate && updateForm.get('date')?.errors?.required">
                     Mettre une date
                  </span>
              </div>
              </mat-form-field>

            <mat-label for="file" *ngIf="isImage">Choisir un fichier</mat-label>
            <input *ngIf="isImage" type="file"
                   id="file"
                   accept="image/jpeg"
                   formControlName="image"
                   (change)="handleFileInput($event)">

          <div class="form-row" *ngIf="isAddress">
            <div class="col-md-6 mb-3">
              <label>Adresse</label>
              <div class="container">
                <input ngx-google-places-autocomplete
                       (onAddressChange)="handleAddressChange($event)"
                       formControlName="adresse" id = "adresse" #adresse required/>
              </div>
            </div>
          </div>


        </div>

        <mat-spinner *ngIf="loading"></mat-spinner>
        <button mat-flat-button color="primary" *ngIf="!loading">Mettre à jour</button>
        <button mat-flat-button color="secondary" (click)="onNoClick($event)">Annuler</button>
      </form>


    </mat-card-content>
  </mat-card>

