<mat-card style="max-height: 100%; max-width: 90%">
  <mat-card-title>Mes informations professionnelles</mat-card-title>
  <mat-card-content>
    <mat-selection-list multiple = "false">
      <div mat-subheader>Ma description</div>
      <mat-list-option [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox"
                       (click)="updateDescription()">{{provider.description}}</mat-list-option>
      <hr>
      <div mat-subheader>
        Types de prestations proposées
      </div>
      <mat-list-item [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox">
        <mat-list>

          <mat-list-item *ngFor="let providerPricing of provider.pricing">
            <mat-list-item>
              {{findPricing(providerPricing.pricingId || "")?.name}}
            </mat-list-item>
            <mat-list-item>
            {{providerPricing.hourlyPrice}}€/h
            </mat-list-item>
            <mat-list-item>
              {{providerPricing.minimumTime}}mn à {{providerPricing.maximumTime}}mn
            </mat-list-item>

          </mat-list-item>
        </mat-list>
      </mat-list-item>
<hr style="margin-top: 40px;">
        <div mat-subheader>Diplomes</div>
        <mat-list-item [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox" style = "margin-top: 100px; margin-bottom: 100px;">
          <mat-list>
            <mat-list-item *ngFor="let diploma of provider.diploma">
              Diplome #{{diploma.id}}
              <img [src]="diploma.fileImage" style="width: 400px; height: 300px;">
            </mat-list-item>
            <form name="updateForm" [formGroup]="updateForm">
            <mat-label for="file">Choisir un fichier</mat-label>
            <input type="file"
                   id="file"
                   accept="image/jpeg"
                   (change)="handleFileInput($event)">
            </form>
          </mat-list>
        </mat-list-item>
<hr>
        <div mat-subheader>Expérience</div>
        <mat-list-item [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox">
          <mat-list>
            <mat-list-item *ngFor="let experience of provider.experience">
              {{experience.title}}
              <br>
              {{experience.description}}
              <br>
              {{experience.startYear}} {{experience.endYear}}
              <br>

            </mat-list-item>
          </mat-list>

        </mat-list-item>



    </mat-selection-list>


  </mat-card-content>

</mat-card>

