<mat-card style="max-height: 100%; max-width: 90%">
<mat-card-title>
  Inscription utilisateur
</mat-card-title>
<mat-card-subtitle>
  Merci de remplir tous les champs ci-dessous
</mat-card-subtitle>
  <mat-card-content>
    <mat-horizontal-stepper linear #stepper>


          <mat-step [stepControl]="registerFormOne">
            <form novalidate (ngSubmit) = "saveDataFirst()" [formGroup]="registerFormOne">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="Nom"
                    formControlName="lastName"
                    [ngClass]="{'is-invalid': registerFormOne.get('lastName')?.touched && !registerFormOne.get('lastName')?.valid}">
                <div class="invalid-feedback">
                    <span *ngIf="registerFormOne.get('lastName')?.errors?.required">
                        Entrez votre nom
                    </span>
                </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Prenom</label>
                    <input type="text" class="form-control" placeholder="Prenom"
                    formControlName="firstName"
                     [ngClass]="{'is-invalid': registerFormOne.get('firstName')?.touched && !registerFormOne.get('firstName')?.valid}">
                    <div class="invalid-feedback">
                    <span *ngIf="registerFormOne.get('firstName')?.errors?.required">
                        Entrez votre prenom
                    </span>
                </div>
                </div>
            </div>
            <div class="form-row" formGroupName="emailGroup">
                <div class="col-md-6 mb-3">
                    <label>E-Mail</label>
                    <input type="email" class="form-control" placeholder="Email"
                    formControlName="email"
                    [ngClass]="{'is-invalid': registerFormOne.get('emailGroup')?.errors ||
                    (registerFormOne.get('emailGroup.email')?.touched && !registerFormOne.get('emailGroup.email')?.valid)}"
                    >
                    <div class="invalid-feedback">
                        <span *ngIf="registerFormOne.get('emailGroup.email')?.errors?.required">
                            Entrez votre E-mail
                        </span>
                        <span *ngIf="registerFormOne.get('emailGroup.email')?.errors?.email">
                            Votre E-mail est invalide
                        </span>
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <label for="confirEmailId">Confirmer l'E-mail</label>
                    <input type="email" class="form-contol" id="confirEmailId" placeholder="Confirmer l'email"
                    formControlName="confirmEmail"
                    [ngClass]="{'is-invalid': registerFormOne.get('emailGroup')?.errors || ((registerFormOne.get('emailGroup.confirmEmail')?.touched||registerFormOne.get('emailGroup.confirmEmail')?.dirty)
                    && !registerFormOne.get('emailGroup.confirmEmail')?.valid)}">
                        <div class="invalid-feedback">
                            <span *ngIf="registerFormOne.get('emailGroup.confirmEmail')?.errors?.required">
                                 Remplir
                            </span>
                            <span *ngIf="registerFormOne.get('emailGroup.confirmEmail')?.errors?.match">
                                 Pas identique
                            </span>
                        </div>
                </div>

            </div>

            <div class="col-md-6 mb-3">
                <label>Nom d'utilisateur</label>
                <input type="text" class="form-control" placeholder="Nom d'utilisateur"
                formControlName="login"
                [ngClass]="{'is-invalid': registerFormOne.get('login')?.touched && !registerFormOne.get('login')?.valid}">
            <div class="invalid-feedback">
                <span *ngIf="registerFormOne.get('login')?.errors?.required">
                    Entrez votre nom d'utilisateur
                </span>
                <span *ngIf="registerFormOne.get('login')?.errors?.minlength">
                    Entrez votre nom d'utilisateur
                </span>
            </div>
        </div>
              <div class="form-row" formGroupName="passwordGroup">
                <div class="col-md-6 mb-3">
                  <label>Mot de passe</label>
                  <input type="password" class="form-control" placeholder="Mot de passe"
                         formControlName="password"
                         [ngClass]="{'is-invalid': registerFormOne.get('passwordGroup')?.errors ||
                    (registerFormOne.get('passwordGroup.password')?.touched && !registerFormOne.get('passwordGroup.password')?.valid)}"
                  >
                  <div class="invalid-feedback">
                    <span *ngIf="registerFormOne.get('passwordGroup.password')?.errors?.required">
                        Entrez votre Mot de passe
                    </span>
                    <span *ngIf="registerFormOne.get('passwordGroup.password')?.errors?.minlenght">
                        Choisir un mot de passe avec au minimum 8 caractères
                    </span>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="confirPasswordId">Confirmer le mot de passe</label>
                  <input type="password"  class="form-contol" id="confirPasswordId" placeholder="Confirmer le mot de passe"
                         formControlName="confirmPassword"
                         [ngClass]="{'is-invalid': registerFormOne.get('passwordGroup')?.errors || ((registerFormOne.get('passwordGroup.confirmPassword')?.touched||registerFormOne.get('passwordGroup.confirmPassword')?.dirty)
                    && !registerFormOne.get('passwordGroup.confirmPassword')?.valid)}">

                  <div class="invalid-feedback">
                    <span *ngIf="registerFormOne.get('passwordGroup.confirmPassword')?.errors?.required">
                        Remplir
                    </span>
                    <span *ngIf="registerFormOne.get('passwordGroup.confirmPassword')?.errors?.match">
                        Pas identique
                    </span>
                  </div>
                </div>

              </div>
              <div class="text-right">
                <button mat-flat-button color="basic" matStepperNext (click)="saveDataFirst()" #confirmButton>
                  Suivant
                </button>
              </div>
            </form>
      </mat-step>
      <mat-step>
        <form novalidate (ngSubmit) = "saveData()" [formGroup]="registerFormTwo">
            <div class="col-md-6 mb-3">
                    <label>Téléphone</label>
                    <input type="text" class="form-control" placeholder="Numéro de tel"
                    formControlName="phone"
                    [ngClass]="{'is-invalid': registerFormTwo.get('phone')?.touched && !registerFormTwo.get('phone')?.valid}">
                <div class="invalid-feedback">
                    <span *ngIf="registerFormTwo.get('phone')?.errors?.required">
                        Entrez votre numéro de Téléphone
                    </span>
                    <span *ngIf="registerFormTwo.get('phone')?.errors?.minlength || registerFormTwo.get('phone')?.errors?.maxlength">
                        Entrez un numéro de téléphone correct
                    </span>
                </div>
            </div>



            <div class="form-row" formGroupName="birthdayGroup">
                <div class="col-md-6 mb-3">
                    <label>Date de naissance</label>
                        <input type="date" class="form-control" placeholder=""
                        formControlName="birthday"
                        [ngClass]="{'is-invalid': registerFormTwo.get('birthdayGroup')?.errors||(registerFormTwo.get('birthday')?.touched && !registerFormTwo.get('birthday')?.valid)}">
                    <div class="invalid-feedback">
                        <span *ngIf="registerFormTwo.get('birthday')?.errors?.required">
                            Entrez votre date de naissance
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label>Image</label>
                    <input type="text" class="form-control" placeholder="URL de l'image"
                    formControlName="image"
                    [ngClass]="{'is-invalid': registerFormTwo.get('image')?.touched && !registerFormTwo.get('image')?.valid}">
                <div class="invalid-feedback">
                    <span *ngIf="registerFormTwo.get('image')?.errors?.required">
                        Entrez un url
                    </span>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label>Adresse</label>
                    <input type="text" class="form-control" placeholder="Adresse"
                    formControlName="adresse"
                    [ngClass]="{'is-invalid': registerFormTwo.get('adresse')?.touched && !registerFormTwo.get('adresse')?.valid}">
                <div class="invalid-feedback">
                    <span *ngIf="registerFormTwo.get('adresse')?.errors?.required">
                        Entrez votre Adresse
                    </span>
                </div>
            </div>

            <div clas="form-row">
                <div class="col-md-6 mb-3">
                    <label>Ville</label>
                        <input type="text" class="form-control" placeholder="Ville"
                        formControlName="ville"
                        [ngClass]="{'is-invalid': registerFormTwo.get('ville')?.touched && !registerFormTwo.get('ville')?.valid}">
                    <div class="invalid-feedback">
                        <span *ngIf="registerFormTwo.get('ville')?.errors?.required">
                            Entrez votre Ville
                        </span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Département</label>
                        <input type="text" class="form-control" placeholder="Région"
                        formControlName="departement"
                        [ngClass]="{'is-invalid': registerFormTwo.get('departement')?.touched && !registerFormTwo.get('departement')?.valid}">
                    <div class="invalid-feedback">
                        <span *ngIf="registerFormTwo.get('departement')?.errors?.required">
                            Entrez votre Département
                        </span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Code Postal</label>
                        <input type="text" class="form-control" placeholder="Code Postal"
                        formControlName="postal"
                        [ngClass]="{'is-invalid': registerFormTwo.get('postal')?.touched && !registerFormTwo.get('postal')?.valid}">
                    <div class="invalid-feedback">
                        <span *ngIf="registerFormTwo.get('postal')?.errors?.required">
                            Entrez votre Code Postal
                        </span>
                    </div>
                </div>
            </div>

        </form>
        <div class="text-right">
          <!--<button type="button" class="btn btn-outline-info mr-2" (click)= "fillFormData()"></button>
          Remplir les champs par défaut
      -->
          <button mat-flat-button color = "primary" type="submit"
                  [disabled]="!registerFormTwo.valid" (click)="saveData()"
          *ngIf="!isLoading">
            Confirmer l'inscription
          </button>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
      </mat-step>


    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>








