<mat-card style="min-height: 100%; min-width: 90%; overflow: auto">
  <mat-card-title>
    {{user.firstName}} {{user.lastName}} <img [src]="image" style="width: 40px; height: 40px; border-radius: 100%">
  </mat-card-title>
  <mat-card-content>
    <mat-selection-list multiple = "false">
      <div mat-subheader>Description</div>
      <mat-list-option [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox">{{provider.description}}</mat-list-option>
      <hr>
      <div mat-subheader>
        Types de prestations proposées
      </div>
      <mat-list-item [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox">
        <mat-list>

          <mat-list-item *ngFor="let providerPricing of provider.pricing">
            <mat-list-item>
              {{findPricing(providerPricing.pricingId || "")?.name}}
            </mat-list-item>
            <mat-list-item>
              {{providerPricing.hourlyPrice}}€/h
            </mat-list-item>
            <mat-list-item>
              {{providerPricing.minimumTime}}mn à {{providerPricing.maximumTime}}mn
            </mat-list-item>

          </mat-list-item>
        </mat-list>
      </mat-list-item>
      <hr style="margin-top: 40px;">
      <div mat-subheader>Diplomes</div>
      <mat-list-item [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox" style = "margin-top: 100px; margin-bottom: 100px;">
        <mat-list>
          <mat-list-item *ngFor="let diploma of provider.diploma">
            Diplome #{{diploma.id}}
            <img [src]="diploma.fileImage" style="width: 400px; height: 300px;">
          </mat-list-item>
        </mat-list>
      </mat-list-item>
      <hr>
      <div mat-subheader>Expérience</div>
      <mat-list-item [matTooltip]="toolTipMessage" matTooltipPosition="after" role="textbox">
        <mat-list>
          <mat-list-item *ngFor="let experience of provider.experience">
            {{experience.title}}
            <br>
            {{experience.description}}
            <br>
            {{experience.startYear}} {{experience.endYear}}
            <br>

          </mat-list-item>
        </mat-list>

      </mat-list-item>



    </mat-selection-list>
    <button mat-flat-button color="primary" *ngIf="isAdmin" (click)="validateDiploma()">Valider le prestataire</button>

  </mat-card-content>
  </mat-card>

